
html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.container {
  position: relative;
  width: 100%;
  height: 50%;
}
.centered {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  background: none;
  font-size: 70px;
  transform: translate(-50%, -50%);
}
p {
  text-align: center;
  font-size: 25px;
  padding: 50px;
}

.Directions {
  text-align: center;
  font-size: 30px;
}
.Ingredients {
  padding-left: 50px;
}
ul {
  list-style-type: "-";
}

.pictures {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 35%;
  width: 35%;
}
.divStyle {
  margin: 90px;
  font-size: 20px;
}
